@import "./styles/animations.scss";
@import "./styles/variables.scss";

.App {
	padding-top: $nav-height;
	text-align: center;
}

.spinner {
	animation: rotate 0.5s linear infinite;
	width: 3rem;
	margin: 1rem;
}

.live-search {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.search {
	border-bottom: 1px $grey solid;
	&-bar {
		height: 2rem;
		width: 90%;
	}
}

.search-results {
	align-content: center;
	width: 90%;
	&-item {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
}

.undo-search-button {
	height: 1rem;
}

.list {
	display: flex;
	flex-direction: column;
	align-items: center;

}

.portfolio {
	align-content: center;
	width: 90%;
	header, article {
		margin-top: 1em;
		margin-bottom:1em
	}
	div {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		h3, h4, h5 {
			margin-top: .2em;
			margin-bottom: .2em;
		}
	}
	h5 {
		text-align: left;
		margin-top: .2em;
		margin-bottom: .2em;
	}
}

.tab {
	&-is-active {
		background-color: #77dab2;
	}
}

// button {
// 	&:focus {
// 		background-color: #77dab2;
// 	}
// }

p {
	margin: 5px;
}

h2 {
	text-align: left;
	margin: 20px 5px 5px 5px;
}

input {
	border: none;
	outline: none;
	height: 2rem;
}

.badge {
	border-radius: 50%;
	background-color: $badge-color;
	color: $white;
	display: inline-block;
}

.tooltip {
	background-color: transparent;
}

a {
	color: $black;
	text-decoration: none
}

.profit {
	color: $profit-green
}

.loss {
	color: $loss-red
}

.break-even {
	color: $break-even-grey
}

nav {
	position: fixed;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5%;
	height: $nav-height;
	width: 100%;
	z-index: 1;
	background-color: #fff;
	h1 {
		margin: auto;
	}
}

img {
	border-radius: 50%;
	width: 5vw;
	&:hover {
		cursor: pointer;
	}
	&:active {
		transform: scale(1.1);
	}
}

.stats-table {
	width: 100%;
	tr {
		display: flex;
		justify-content: space-between;
		td {
			display: flex;
			justify-content: space-between;	
			align-items: center;
			width: 46%;
			border-bottom: 1px $grey solid
		}
	}
}

.scope {
	display: flex;
	justify-content: space-between;
	width: 85%;
	margin-top: 2vh;
	margin-bottom: 2vh;
	&-button {
		border: none;
		&-is-active {
			border: none;
			border-radius: 50%;
			height: 3.5vh;	
			color: $white;
			background-color: $badge-color;
		}
	}
}

.news {
	align-content: center;
	width: 90%;
	&-article {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 1em;
		margin-bottom:1em;
		&-thumbnail {
			width: 80%;
			border-radius: 10px;
		}
	}
}

// .nav-quote {
// }